<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSjzcc5bE5YvWprvrhL6xYHxLJe0GOkks</string>
	<key>GCM_SENDER_ID</key>
	<string>277496527429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloomiWeb</string>
	<key>PROJECT_ID</key>
	<string>bloomi-e01b6</string>
	<key>STORAGE_BUCKET</key>
	<string>bloomi-e01b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277496527429:ios:65b66539d2d17d7fe8c12c</string>
</dict>
</plist>